.todo-app {
  font-family: sans-serif;
  background-color: #e0e0e0;
  width: 80%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: auto;
}

/* Error */
.error-message {
  color: #d6404b;
  font-weight: 600;
}

/* Input Style */
.input-wrapper {
  display: flex;
  gap: 15px;
}

.input {
  border: none;
  width: 80%;
  height: 40px;
  font-size: 18px;
  border-radius: 9px;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Task List Style */
ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.task {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  align-items: center;
  padding: 10px;
}

.task-name {
    font-size: 18px;
    font-weight: 600;
}

.completed {
  text-decoration: line-through;
  color: #15a334;
}

.status {
  text-transform: uppercase;
  color: #8388A4;
  font-weight: 600;
}

.completed-status {
  color: #15a334;
}

/* Buttons Style */
button {
  width: auto;
  height: 40px;
  background-color: #15a334;
  color: #ffff;
  border: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-transform: uppercase;
  cursor: pointer;
}

.delete {
  background-color: #d6404b;
  color: #ffff;
}

.uncompleted-button {
  background-color: #8388A4;
  color: #ffff;
}

.completed-button {
  background-color: #15a334;
  color: #ffff;
}
